%h1 Skill#max
%p Find me in app/views/skill/max.html.haml

= render 'skill/list', skills: @skill_set[:monthly], section: 'Monthly'
= render 'skill/list', skills: @skill_set[:normal], section: 'Normal'
