%h1 Music#index
%p Find me in app/views/music/index.html.haml

= render 'music/list', musics: @music_set[:monthly], section: 'Monthly'
= render 'music/list', musics: @music_set[:normal], section: 'Normal'
= render 'music/list', musics: @music_set[:deleted], section: 'Deleted'
